#restaurants{
    padding: 0 14px;
    & h2{
        text-align: start;
        margin-top: 54px;
    }
}
.restaurant-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
/********* Media Queries *******/
@media (min-width: 1024px) {
    #restaurants{
    padding-left: 180px;
    height: 668px;
}
.restaurant-card{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
}

