#restaurants{
    padding: 0 14px;
    & h2{
        text-align: start;
        margin-top: 54px;
    }
}
.restaurant-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
/********* Media Queries *******/
@media (min-width: 768px) and (max-width: 1023px) {
    #restaurants{
        margin: 55px 0px 45px 40px;
    }
    .restaurant-card{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        & .card{
            flex: 40%;
            margin-right: 5%;
        }
    }
    
}
@media (min-width: 1024px) {
    #restaurants{
    padding-left: 180px;
    height: 668px;
}
.restaurant-card{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
}

