* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  list-style: none;
  color: #000000;
}

html {
  font-size: 62.5%;
}

body {
  width: 100%;
  height: 100%;
  padding: 0;
  background: #F6F6F6;
}

.main-container {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.footer-title, h1 {
  font-family: "Shrikhand";
  font-size: 30px;
  font-style: italic;
  font-weight: 400;
  text-align: center;
  line-height: 43.74px;
  color: #101010;
}

h2 {
  font-weight: 700;
  font-size: 24px;
  color: #000000;
}

ul {
  padding: 0;
}

.fa-solid {
  color: #7E7E7E;
}

a {
  list-style: none;
  text-decoration: none;
}

.button {
  border: none;
  border-radius: 25px;
  background: linear-Gradient(#9356DC 0%, #FF79DA 100%);
  color: #FFFFFF;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  filter: brightness(1);
  transition: all 600ms;
}
.button-bannier {
  width: 218px;
  height: 50px;
  margin: 27px auto 57px;
  font-size: 16px;
}
.button:hover {
  filter: brightness(1.2);
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.25);
}

.card {
  width: 100%;
  height: 251px;
  border-radius: 15px;
  background: #FFFFFF;
  margin-bottom: 18px;
}
.card img {
  width: 100%;
  height: 174px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  object-fit: cover;
}
.card-content {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
}
.card-title {
  font-weight: 700;
  font-size: 18px;
  margin: 14px 0 5px 13px;
}
.card-text {
  font-weight: 300;
  font-size: 17px;
  margin: 0 0 0 13px;
  text-align: start;
}
.card-icone {
  color: #101010;
  width: 22px;
  height: 21px;
  font-size: 22px;
  position: absolute;
  right: 33px;
  top: 23px;
}

/******** header ********/
.title-site {
  width: 100%;
  height: 63px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
  margin-bottom: 2px;
  background: #FFFFFF;
}

.title-site h1 {
  width: 100%;
  height: 44px;
  padding-top: 14px;
}

.location {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #EAEAEA;
  gap: 17px;
}

.location .header-input {
  width: 109px;
  height: 19px;
  margin: 14.5px 0;
  font-size: 16px;
  font-weight: 500;
  background-color: #EAEAEA;
  border: none;
  outline: none;
  color: #353535;
  padding: 0;
}

.fa-location-dot {
  font-size: 18px;
  width: 12px;
  height: 16px;
  color: #353535;
}

#restaurants {
  padding: 0 14px;
}
#restaurants h2 {
  text-align: start;
  margin-top: 54px;
}

.restaurant-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.functioning {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  height: 440px;
  background: #FFFFFF;
  padding: 0 20px;
}
.functioning-stage {
  width: 100%;
}

.stage {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 72.38px;
  margin-top: 24.93px;
  padding: 0;
  background-color: #F6F6F6;
  border-radius: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
}
.stage-content {
  font-weight: 500;
  font-size: 16px;
}
.stage .fa-mobile-screen-button {
  font-size: 18px;
  width: 13.02px;
  height: 24px;
  margin-left: 21.98px;
  margin-right: 27px;
}
.stage-number-1 {
  font-weight: 500;
  font-size: 14.18px;
  color: #FFFFFF;
  background-color: #9356DC;
  border-radius: 25px;
  padding: 3px 7px;
  position: relative;
  left: -10px;
}
.stage .fa-list-ul {
  font-size: 18px;
  height: 22px;
  color: #7E7E7E;
  margin: 0 23px;
}
.stage-number-2 {
  font-weight: 500;
  font-size: 14.18px;
  color: #FFFFFF;
  background-color: #9356DC;
  border-radius: 25px;
  padding: 3px 7px;
  position: relative;
  left: -10px;
}
.stage .fa-store {
  font-size: 18px;
  width: 18px;
  height: 24px;
  color: #9356DC;
  margin-right: 24px;
  margin-left: 20px;
}
.stage-number-3 {
  font-weight: 500;
  font-size: 14.18px;
  color: #FFFFFF;
  background-color: #9356DC;
  border-radius: 25px;
  padding: 3px 7px;
  position: relative;
  left: -10px;
}

.bannier {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bannier__title {
  margin: 35px auto 0;
}
.bannier-content {
  color: #353535;
  font-size: 18px;
  font-weight: 300;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 22px 0 22px 25px;
  background: #353535;
  margin-top: 48px;
}
.footer-title {
  color: #FFFFFF;
  font-weight: 400;
  font-size: 18px;
  margin: 0;
}
.footer-content {
  margin: 0;
}
.footer-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  margin-top: 7px;
}
.footer-text {
  display: flex;
  flex-direction: row;
  color: #FFFFFF;
  margin: 0;
}
.footer-text-mention, .footer-text-contact {
  font-weight: 400;
}
.footer-icon {
  color: #FFFFFF;
  margin-right: 11px;
}

.main-menu {
  height: 1080px;
}

.title-site {
  position: relative;
}
.title-site i {
  font-size: 18px;
  color: #353535;
  width: 17.2px;
  height: 16px;
  position: absolute;
  top: 24px;
  left: 23px;
}

.img-menu {
  width: 100%;
  height: 275px;
  object-fit: cover;
}

.content-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding: 13px;
  background: #F6F6F6;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  position: absolute;
  top: 280px;
}
.content-menu-title {
  font-family: "Shrikhand";
  font-weight: 400;
  font-style: italic;
  font-size: 28px;
  margin-top: 19px;
  margin-bottom: 28.72px;
}
.content-menu-icone {
  font-size: 24px;
  position: absolute;
  top: 41px;
  right: 41px;
}

.menu-entree, .menu-plat, .menu-dessert {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  font-weight: 300;
  text-align: start;
  margin-bottom: 40px;
}
.menu-entree-title, .menu-plat-title, .menu-dessert-title {
  font-weight: 500;
  font-size: 18px;
  text-transform: uppercase;
  text-underline-offset: 10px;
}
.menu-entree-title span, .menu-plat-title span, .menu-dessert-title span {
  text-decoration: underline;
  text-decoration-color: #99E2D0;
}

.choice {
  position: relative;
  width: 100%;
  height: 69px;
  background: #FFFFFF;
  border-radius: 15.04px;
  margin-top: 12px;
  padding: 12px 13px 12px 15px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}
.choice-title {
  margin: auto;
  position: relative;
  font-weight: 500;
  font-size: 18px;
}
.choice-content {
  margin-top: 5px;
  margin-bottom: 0;
  font-size: 15.04px;
}
.choice-price {
  position: absolute;
  right: 16px;
  bottom: 0px;
  font-weight: 700;
  font-size: 15.04px;
}

.command-button {
  width: 100%;
  text-align: center;
}
.command-button-menu {
  width: 186px;
  height: 50px;
  font-weight: 500;
  font-size: 16px;
}

/*# sourceMappingURL=style.css.map */
