*,
*::after,
*::before {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  text-align: center;
  list-style: none;
  color: #000000;
}

html {
  font-size: 62.5%;
}

body {
  width: 100%;
  height: 100%;
  padding: 0;
  background: #F6F6F6;
}

.main-contener {
  width: 375px;
}

.footer-title, h1 {
  font-family: "Shrikhand";
  font-size: 30px;
  font-style: italic;
  font-weight: 400;
  text-align: center;
  line-height: 43.74px;
  color: #101010;
}

h2 {
  font-weight: 700;
  font-size: 24px;
  font-style: bold;
  color: #000000;
}

ul {
  padding: 0;
}

.fa-solid {
  color: #7E7E7E;
}

.card-icone {
  color: #101010;
  width: 22px;
  height: 21px;
}

a {
  list-style: none;
  text-decoration: none;
}

* {
  font-family: "Roboto", sans-serif;
}

.logo, h1 {
  font-family: "Shrikhand";
}

.button {
  border: none;
  border-radius: 25px;
  background: linear-Gradient(#9356DC 0%, #FF79DA 100%);
  color: #FFFFFF;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
}
.button-bannier {
  width: 218px;
  height: 50px;
  margin: 27px auto 57px;
  font-size: 16px;
}

.card {
  width: 346px;
  height: 251px;
  border-radius: 15px;
}

.card img {
  width: 340px;
  height: 174px;
}

/******** header ********/
.title-site {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0 2px rgba(0, 0, 0, 0.15);
}

.title-site h1 {
  width: 100%;
  height: 63px;
  background: #FFFFFF;
  padding-top: 14px;
}

.location {
  background: #EAEAEA;
}

.location .header-input {
  margin: 14.5px auto;
  font-size: 16px;
  font-weight: 500;
  background-color: #EAEAEA;
  border: none;
  outline: none;
  color: #353535;
}

.fa-location-dot {
  width: 12px;
  height: 16px;
  position: relative;
  left: 25px;
  color: #353535;
}

.restaurant-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.functioning {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 375px;
  height: 440px;
  background: #FFFFFF;
  padding: 0 20px;
}

.stage {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 322.49px;
  height: 72.38px;
  margin-top: 24.93px;
  padding: 0;
  background-color: #F6F6F6;
  border-radius: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
}
.stage-content {
  font-weight: 500;
  font-size: 16px;
}
.stage .fa-mobile-screen-button {
  width: 13.02px;
  height: 19.9px;
  margin-left: 21.98px;
  margin-right: 27px;
  position: relative;
  left: -10px;
}
.stage-number-1 {
  font-weight: 500;
  font-size: 14.18px;
  color: #FFFFFF;
  background-color: #9356DC;
  border-radius: 25px;
  padding: 3px 7px;
  position: relative;
  left: -10px;
}
.stage .fa-list-ul {
  width: 16px;
  height: 15.92px;
  color: #7E7E7E;
  margin: 0 23px;
  left: -10px;
}
.stage-number-2 {
  font-weight: 500;
  font-size: 14.18px;
  color: #FFFFFF;
  background-color: #9356DC;
  border-radius: 25px;
  padding: 3px 7px;
  position: relative;
  left: -10px;
}
.stage .fa-store {
  width: 18px;
  height: 17.91px;
  color: #9356DC;
  margin-right: 24px;
  margin-left: 20px;
}
.stage-number-3 {
  font-weight: 500;
  font-size: 14.18px;
  color: #FFFFFF;
  background-color: #9356DC;
  border-radius: 25px;
  padding: 3px 7px;
  position: relative;
  left: -10px;
}

.bannier {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bannier__title {
  margin: 35px auto 0;
}
.bannier-content {
  color: #353535;
  font-size: 18px;
  font-weight: 300;
}

/*# sourceMappingURL=style.css.map */
