.card{
    position: relative;
    width: 100%;
    height: 251px;
    border-radius: 15px;
    background: #FFFFFF;
    margin-bottom: 18px;
    & img{
        width: 100%;
        height: 174px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        object-fit: cover;
    }
    &-new{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80px;
        height: 29px;
        background: $cd-green-item;
        position: absolute;
        top: 20px;
        right: 12px;
        & p{
        font-weight: 500;
        font-size: 14px;
        color: #008766;
        }
    }
    &-content{
        display: flex;
        position: relative;
        flex-direction: column;
        align-items: flex-start;
    }
    &-title{
        font-weight: 700;
        font-size: 18px;
        margin: 14px 0 5px 13px;
    }
    &-text{
        font-weight: 300;
        font-size: 17px;
        margin: 0 0 0 13px;
        text-align: start;
    }
    &-icone{
        color: #101010;
        width: 22px;
        height: 21px;
        font-size: 22px;
        position: absolute;
        right: 33px;
        top: 23px;
        &.fa-solid{
            color: $cd-purple;
        }
    }
}
