.main-menu{
    height: 1080px;
    &-note{
        height: 1163px;
    }
}

.title-site {
    position: relative;
    & i{
        font-size: 18px;
    color: #353535;
    width: 17.2px;
    height: 16px;
    position: absolute;
    top: 24px;
    left: 23px;
    }
}
.img-menu{
    width: 100%;
    height: 275px;
    object-fit: cover;
}
.content-menu{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding: 13px;
    background: #F6F6F6;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    position: absolute;
    top: 280px;
    &-title{
        font-family: 'Shrikhand';
        font-weight: 400;
        font-style: italic;
        font-size: 28px;
        margin-top: 19px;
        margin-bottom: 28.72px; 
    }
     &-icone{
        font-size: 24px;
            position: absolute;
            top: 41px;
            right: 41px;
        }
}
.menu-entree,.menu-plat,.menu-dessert{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    font-weight: 300;
    text-align: start;
    margin-bottom: 40px;
    &-title{
        font-weight: 500;
        font-size: 18px;
        text-transform: uppercase;
        text-underline-offset: 10px;
        & span{ 
            text-decoration: underline;
            text-decoration-color: $cd-green-item;
        }
    }
}
.choice{
    position: relative;
    width: 100%;
    height: 69px;
    background: #FFFFFF;
    border-radius: 15.04px;
    margin-top: 12px;
    padding: 12px 13px 12px 15px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    &-title{
        margin: auto;
        position: relative;
        font-weight: 500;
        font-size: 18px;
    }
    &-content{
        margin-top: 5px;
        margin-bottom: 0;
        font-size: 15.04px;
    }
    &-price{
        position: absolute;
        right: 16px;
        bottom: 0px;
        font-weight: 700;
        font-size: 15.04px;

    }
}
.command-button{
    width: 100%;
    text-align: center;
    &-menu{
        width: 186px;
        height: 50px;
        font-weight: 500;
        font-size: 16px;
    }
}
