@keyframes loading {
    0%{
        opacity: 1;
    }
    85%{
        opacity: 0.5;
    }
    100%{
        opacity: 0;
        z-index: -1;
    }
    0%, 25%, 50%, 95%{
        z-index: 1;
    }
    
}
@keyframes pulse {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.6);

    }
    
}