$cd-background: #D2D2D2;
$cd-location-input: #EAEAEA;
$cd-white-section: #FFFFFF;
$cd-green-item: #99E2D0;
$cd-button: linearGradient(#9356DC 0%, #FF79DA 100%);
$cd-purple: #9356DC;


$fa-font-path: "../public/css/fontawesome/webfonts";
